<div class="alert alert-danger" role="alert" *ngIf="errorCheck">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Error</strong> {{ errorCheck }}
</div>

  <h4 >Player Name: {{ playerName }}</h4>
  <h4 >Score: {{ score }}</h4>


<section loaderMessage *ngIf="!currentQuestion"> {{ loaderMessage }}</section>
<section *ngIf="currentQuestion">
    {{ ctr + 1 }}  {{ questionCount?.search.length }}
  <div queztionContainer>{{ currentQuestion?.content }}</div>
  <br/>
<section quizForm>
  <form id="check">
    <div class="form-check" *ngFor="let c of choices">
      <label class="form-check-label" >
        <input class="form-check-input" type="radio" name="radio" id="exampleRadios1" value="{{c.key}}" [(ngModel)]="radio">
        {{ c?.value }}
      </label>
    </div>

    <button type="button" btnSubmit class="btn btn-secondary" (click)="onClickProceed(radio)">Submit</button>
  </form>
</section>


<div error *ngIf="validate">{{ validate }}</div>
</section>